@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

:root {
  --font-family: "IBM Plex Sans", serif;
  --main-bg: #eeeeee;
  --sub-bg: #fff;
  --logo-bg: #0d5a62;
  --card-light-green: #0e5b63;
  --card-dark-green: #0a3438;
}